<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <div class="logo">
         
        </div>

        
        {% if user.is_authenticated %}
        <div class="user-info">
            <p>Signed in as: {{ user.username }}</p>
            <p>Role: {{ user.groups.first.name }}</p>  
        </div>
        {% endif %}
    </header>

    <main>
        <div class="landing-container">
            <h1>Welcome to the Inventory System</h1>
            <p>Your go-to solution for managing your inventory. Start by logging in or signing up!</p>

            <div class="landing-links">
                <a href="{% url 'login' %}" class="btn">Login</a>
                <a href="{% url 'signup' %}" class="btn">Sign Up</a>
            </div>
        </div>
    </main>

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2024 Inventory System</p>
    </footer>
</body>
</html>


