<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Product</title>
    <style>
        h1 {
            color: white;
            background-color: #00336c;
            font-size: 40px;
            font-style: italic;
            font-family: Arial Black;
        }
        a {
            font-size: 17px;
            font-weight: bold;
        }
        form {
            font-size: 15px;
            font-weight: 900;
            font-family: Arial Black;
        }
    </style>
</head>
<body>
    <h1>Remove Product</h1>
    {% if user.is_authenticated %}
    <div class="user-info">
        <p><strong>Signed in as: {{ user.username }}</strong></p>
        <p><strong>Role: {{ user.groups.first.name }}</strong> </p> 
    </div>
    {% endif %}

    <a href="{% url 'dashboard' %}">Back to Dashboard</a>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="product_id">Enter Product ID to remove:</label>
        <input type="text" name="product_id" required>
        <button type="submit">Remove Product</button>
    </form>
</body>
</html>
